*{
    padding:0;
    margin:0;
}
ul,li{
    list-style:none;
}
#exchange-header{
    height:0.5rem;
    width:100vw;
    font-size:0.2rem;
}

#content{
}
#detail-wrap{
    width:70vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#detail-name{
    height:0.5rem;
    text-align:center;
    line-height:0.5rem;
    font-weight:bold;
    width:70vw;
    display:inline-block;
    font-size:0.16rem;
    background:#e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left:1px solid #D3D4D3;
    margin-left:-1px;
}
#needs-title{
   font-size:0.16rem;
    text-indent: 1em;
    padding-top:0.05rem;
    color:#924040;
}
#needs-content{
    text-indent: 2em;
    width:92%;
    margin-left:5%;
    line-height:0.25rem;
    font-size:0.16rem;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}
#detail-needs{
    height:40%;
    border-bottom:10px solid #dedede;
    margin-top:0;

}
#detail-provide{

}
#region-list{
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#provide-title{
    font-size:0.16rem;
    text-indent:1em;
    color:#924040;
}
 #region-title{
    font-size:0.16rem;
    font-weight:bold;
    width:30vw;
    height:0.5rem;
    line-height:0.5rem;
    text-align:center;
     display:inline-block;
    color:#000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#e1e1e1;
}
#provide-list{
    overflow:auto;
    font-size:0.16rem;
    -webkit-overflow-scrolling: touch;
}
#provide-list .region span{
    border:1px solid #ff0000;
    margin:0.03rem;
    padding:0.03rem;
    display: inline-block;
    text-indent:0;
    border-radius: 3px;
}
#provide-list .region span:nth-of-type(1){
    border:0;
    margin-left:-0.1rem;
    font-size:0.14rem;
}
#provide-list li{
    margin-top:0.1rem;
    border-bottom:1px solid #D3D4D3;
}
#provide-list li p{
    text-indent: 1.7em;
    margin-bottom:0.05rem;
    font-size:0.14rem;
}
#region-list{
    width:30vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
#region-list ul li{
    width:100%;
    line-height:0.41rem;
    text-align:center;
    border-top:1px solid #D3D4D3;
    margin-top:-1px;
    color:#fff;
    background:#00a1ea;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:0.16rem;
}
#region-list ul li:nth-of-type(1){
    background:#fff;
    color:#00a1ea;
}
#detail-wrap{
    float:right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.region{padding-left:0.1rem;}
