<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>coreServlet</servlet-name>
		<servlet-class>wechat.servlet.CoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleOrderList</servlet-name>
		<servlet-class>wechat.servlet.saleorder.SaleOrderList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchListInfo</servlet-name>
		<servlet-class>wechat.servlet.saleorder.SearchListInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchQueryList</servlet-name>
		<servlet-class>wechat.servlet.saleorder.SearchQueryList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchListQuery</servlet-name>
		<servlet-class>wechat.servlet.app.SearchListQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JudgeList</servlet-name>
		<servlet-class>wechat.servlet.saleorder.JudgeList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchCardQuery</servlet-name>
		<servlet-class>wechat.servlet.app.SearchCardQuery</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>SearchListInfoQuery</servlet-name>
		<servlet-class>wechat.servlet.app.SearchListInfoQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReminderBillList</servlet-name>
		<servlet-class>wechat.servlet.saleorder.ReminderBillList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleOutList</servlet-name>
		<servlet-class>wechat.servlet.saleout.SaleOutList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleOutCard</servlet-name>
		<servlet-class>wechat.servlet.saleout.SaleOutCard</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>SaleOrderCard</servlet-name>
		<servlet-class>wechat.servlet.saleorder.SaleOrderCard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleOutQuery</servlet-name>
		<servlet-class>wechat.servlet.app.SaleOutQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleOrderQuery</servlet-name>
		<servlet-class>wechat.servlet.app.SaleOrderQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReminderBillQuery</servlet-name>
		<servlet-class>wechat.servlet.app.ReminderBillQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getThemeField</servlet-name>
		<servlet-class>wechat.servlet.mobile.getThemeField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getThemeList</servlet-name>
		<servlet-class>wechat.servlet.mobile.getThemeList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getThemeSearch</servlet-name>
		<servlet-class>wechat.servlet.mobile.getThemeSearch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getTopicInfo</servlet-name>
		<servlet-class>wechat.servlet.mobile.getTopicInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getTopicComment</servlet-name>
		<servlet-class>wechat.servlet.mobile.getTopicComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>commentTopic</servlet-name>
		<servlet-class>wechat.servlet.mobile.commentTopic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>likeTopic</servlet-name>
		<servlet-class>wechat.servlet.mobile.likeTopic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goodTopic</servlet-name>
		<servlet-class>wechat.servlet.mobile.goodTopic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goodComment</servlet-name>
		<servlet-class>wechat.servlet.mobile.goodComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getInformation</servlet-name>
		<servlet-class>wechat.servlet.mobile.getInformation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getThemeVersion</servlet-name>
		<servlet-class>wechat.servlet.mobile.getThemeVersion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getTopicGuess</servlet-name>
		<servlet-class>wechat.servlet.mobile.getTopicGuess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getTopicFollow</servlet-name>
		<servlet-class>wechat.servlet.mobile.getTopicFollow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileDownload</servlet-name>
		<servlet-class>wechat.servlet.mobile.fileDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IFwLogin</servlet-name>
		<servlet-class>wechat.servlet.mobile.IFwLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getApply2</servlet-name>
		<servlet-class>wechat.servlet.mobile.getApply</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getMyData</servlet-name>
		<servlet-class>wechat.servlet.mobile.getMyData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateMyData</servlet-name>
		<servlet-class>wechat.servlet.mobile.updateMyData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>feedback</servlet-name>
		<servlet-class>wechat.servlet.mobile.feedback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getApply</servlet-name>
		<servlet-class>wechat.servlet.mobile.getApply2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getApplyInformation</servlet-name>
		<servlet-class>wechat.servlet.mobile.getApplyInformation2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getFieldDownload</servlet-name>
		<servlet-class>wechat.servlet.mobile.getFieldDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getFieldGoodJudge</servlet-name>
		<servlet-class>wechat.servlet.mobile.getFieldGoodJudge</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getFieldTheme</servlet-name>
		<servlet-class>wechat.servlet.mobile.getFieldTheme</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getFieldCare</servlet-name>
		<servlet-class>wechat.servlet.mobile.getFieldCare</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getFieldJudge</servlet-name>
		<servlet-class>wechat.servlet.mobile.getFieldJudge</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getFieldUpload</servlet-name>
		<servlet-class>wechat.servlet.mobile.getFieldUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getMyDataNormal</servlet-name>
		<servlet-class>wechat.servlet.mobile.getMyDataNormal</servlet-class>
	</servlet>
	<!-- 更新申请人对环境信息申请次数 -->
	<servlet>
		<servlet-name>updateApplicationCnt</servlet-name>
		<servlet-class>wechat.servlet.mobile.UpdateApplicationCnt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getApplyInformation2</servlet-name>
		<servlet-class>wechat.servlet.mobile.getApplyInformation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppPublishPlatformEntrance</servlet-name>
		<servlet-class>yyhand.servlet.app.AppPublishPlatformEntrance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>yyhand.servlet.app.test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test2</servlet-name>
		<servlet-class>yyhand.servlet.app.test2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectUrl</servlet-name>
		<servlet-class>yyhand.servlet.app.RedirectUrl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wangweiak_test</servlet-name>
		<servlet-class>yyhand.servlet.app.wangweiak_test</servlet-class>
	</servlet>
	<!-- NC疑难问题配置文件 -->
	<servlet>
		<servlet-name>NCProblemPlatformEntrance</servlet-name>
		<servlet-class>yyhand.servlet.app.NCProblemPlatformEntrance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NCProblemGetThemeField</servlet-name>
		<servlet-class>wechat.servlet.mobile.NCProblemGetThemeField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetNCProblemsList</servlet-name>
		<servlet-class>wechat.servlet.mobile.GetNCProblemsList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NCProblemFileDownload</servlet-name>
		<servlet-class>wechat.servlet.mobile.NCProblemFileDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NCProblemsGetDetail</servlet-name>
		<servlet-class>wechat.servlet.mobile.NCProblemsGetDetail</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>getAreaName</servlet-name>
		<servlet-class>wechat.servlet.app.getAreaName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getAreaMoney</servlet-name>
		<servlet-class>wechat.servlet.app.getAreaMoney</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getAreaMoneyYear</servlet-name>
		<servlet-class>wechat.servlet.app.getAreaMoneyYear</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getProvinceMoney</servlet-name>
		<servlet-class>wechat.servlet.app.getProvinceMoney</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getProvinceMoneyYear</servlet-name>
		<servlet-class>wechat.servlet.app.getProvinceMoneyYear</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getProvinceMoneyMonth</servlet-name>
		<servlet-class>wechat.servlet.app.getProvinceMoneyMonth</servlet-class>
	</servlet>
	<!-- url-pattern中配置的/coreServlet用于指定该Servlet的访问路径 -->
	<servlet-mapping>
		<servlet-name>coreServlet</servlet-name>
		<url-pattern>/coreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleOrderList</servlet-name>
		<url-pattern>/SaleOrderList</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>SearchCardQuery</servlet-name>
		<url-pattern>/SearchCardQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReminderBillList</servlet-name>
		<url-pattern>/ReminderBillList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleOutList</servlet-name>
		<url-pattern>/SaleOutList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleOutCard</servlet-name>
		<url-pattern>/SaleOutCard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleOrderCard</servlet-name>
		<url-pattern>/SaleOrderCard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleOutQuery</servlet-name>
		<url-pattern>/SaleOutQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleOrderQuery</servlet-name>
		<url-pattern>/SaleOrderQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReminderBillQuery</servlet-name>
		<url-pattern>/ReminderBillQuery</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>SearchQueryList</servlet-name>
		<url-pattern>/SearchQueryList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchListQuery</servlet-name>
		<url-pattern>/SearchListQuery</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>SearchListInfoQuery</servlet-name>
		<url-pattern>/SearchListInfoQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchListInfo</servlet-name>
		<url-pattern>/SearchListInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JudgeList</servlet-name>
		<url-pattern>/JudgeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getThemeField</servlet-name>
		<url-pattern>/getThemeField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getThemeList</servlet-name>
		<url-pattern>/getThemeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getThemeSearch</servlet-name>
		<url-pattern>/getThemeSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getTopicInfo</servlet-name>
		<url-pattern>/getTopicInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getTopicComment</servlet-name>
		<url-pattern>/getTopicComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>commentTopic</servlet-name>
		<url-pattern>/commentTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>likeTopic</servlet-name>
		<url-pattern>/likeTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goodTopic</servlet-name>
		<url-pattern>/goodTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goodComment</servlet-name>
		<url-pattern>/goodComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getInformation</servlet-name>
		<url-pattern>/getInformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getThemeVersion</servlet-name>
		<url-pattern>/getThemeVersion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppPublishPlatformEntrance</servlet-name>
		<url-pattern>/AppPublishPlatformEntrance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getTopicGuess</servlet-name>
		<url-pattern>/getTopicGuess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getTopicFollow</servlet-name>
		<url-pattern>/getTopicFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileDownload</servlet-name>
		<url-pattern>/fileDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IFwLogin</servlet-name>
		<url-pattern>/IFwLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getApply</servlet-name>
		<url-pattern>/getApply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getApplyInformation</servlet-name>
		<url-pattern>/getApplyInformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getMyData</servlet-name>
		<url-pattern>/getMyData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateMyData</servlet-name>
		<url-pattern>/updateMyData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test2</servlet-name>
		<url-pattern>/test2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wangweiak_test</servlet-name>
		<url-pattern>/wangweiak_test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>feedback</servlet-name>
		<url-pattern>/feedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getApply2</servlet-name>
		<url-pattern>/getApply2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectUrl</servlet-name>
		<url-pattern>/RedirectUrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getApplyInformation2</servlet-name>
		<url-pattern>/getApplyInformation2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getMyDataNormal</servlet-name>
		<url-pattern>/getMyDataNormal</url-pattern>
	</servlet-mapping>
	<!-- 更新申请人对环境信息申请次数 -->
	<servlet-mapping>
		<servlet-name>updateApplicationCnt</servlet-name>
		<url-pattern>/updateApplicationCnt</url-pattern>
	</servlet-mapping>
	<!-- NC疑难问题配置文件 -->
	<servlet-mapping>
		<servlet-name>NCProblemPlatformEntrance</servlet-name>
		<url-pattern>/NCProblemPlatformEntrance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NCProblemGetThemeField</servlet-name>
		<url-pattern>/NCProblemGetThemeField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNCProblemsList</servlet-name>
		<url-pattern>/GetNCProblemsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NCProblemFileDownload</servlet-name>
		<url-pattern>/NCProblemFileDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NCProblemsGetDetail</servlet-name>
		<url-pattern>/NCProblemsGetDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getFieldDownload</servlet-name>
		<url-pattern>/getFieldDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getFieldGoodJudge</servlet-name>
		<url-pattern>/getFieldGoodJudge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getFieldTheme</servlet-name>
		<url-pattern>/getFieldTheme</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getFieldCare</servlet-name>
		<url-pattern>/getFieldCare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getFieldJudge</servlet-name>
		<url-pattern>/getFieldJudge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getFieldUpload</servlet-name>
		<url-pattern>/getFieldUpload</url-pattern>
	</servlet-mapping>
	<!-- 地图 -->
	<servlet-mapping>
		<servlet-name>getAreaName</servlet-name>
		<url-pattern>/getAreaName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getAreaMoneyYear</servlet-name>
		<url-pattern>/getAreaMoneyYear</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getAreaMoney</servlet-name>
		<url-pattern>/getAreaMoney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getProvinceMoney</servlet-name>
		<url-pattern>/getProvinceMoney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getProvinceMoneyYear</servlet-name>
		<url-pattern>/getProvinceMoneyYear</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getProvinceMoneyMonth</servlet-name>
		<url-pattern>/getProvinceMoneyMonth</url-pattern>
	</servlet-mapping>
	
	<!-- 调研报告入口 -->
	<servlet>
		<servlet-name>ResearchRecordPlatformEntrance</servlet-name>
		<servlet-class>yyhand.servlet.app.ResearchRecordPlatformEntrance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResearchRecordPlatformEntrance</servlet-name>
		<url-pattern>/ResearchRecordPlatformEntrance</url-pattern>
	</servlet-mapping>
	<!-- 查询所有调研报告（分页） -->
	<servlet>
		<servlet-name>getAllResearchRecords</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.GetAllResearchRecords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllResearchRecords</servlet-name>
		<url-pattern>/allResearchRecords</url-pattern>
	</servlet-mapping>
	<!-- 查询我的调研报告（分页） -->
	<servlet>
		<servlet-name>getResearchRecordByUser</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.GetResearchRecordByUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getResearchRecordByUser</servlet-name>
		<url-pattern>/getResearchRecordByUser</url-pattern>
	</servlet-mapping>
	<!-- 查询调研报告详情 -->
	<servlet>
		<servlet-name>getResearchRecordDetail</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.GetResearchRecordDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getResearchRecordDetail</servlet-name>
		<url-pattern>/getResearchRecordDetail</url-pattern>
	</servlet-mapping>
	<!-- 删除调研报告 -->
	<servlet>
		<servlet-name>deleteResearchRecord</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.DeleteResearchRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteResearchRecord</servlet-name>
		<url-pattern>/deleteResearchRecord</url-pattern>
	</servlet-mapping>
	<!-- 新增调研报告 -->
	<servlet>
		<servlet-name>addResearchRecord</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.AddResearchRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addResearchRecord</servlet-name>
		<url-pattern>/addResearchRecord</url-pattern>
	</servlet-mapping>
	<!-- 修改调研报告 -->
	<servlet>
		<servlet-name>editResearchRecord</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.EditResearchRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editResearchRecord</servlet-name>
		<url-pattern>/editResearchRecord</url-pattern>
	</servlet-mapping>
	<!-- 下载浏览调研报告文件 -->
	<servlet>
		<servlet-name>researchRecordFileDownload</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.ResearchRecordFileDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>researchRecordFileDownload</servlet-name>
		<url-pattern>/researchRecordFileDownload</url-pattern>
	</servlet-mapping>
	<!-- 查询调研记录项目档案 -->
	<servlet>
		<servlet-name>getResearchRecordProjectInfo</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.GetResearchRecordProjectInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getResearchRecordProjectInfo</servlet-name>
		<url-pattern>/getResearchRecordProjectInfo</url-pattern>
	</servlet-mapping>
	<!-- 研发/需求人员现场/非现场支持记录排名 -->
	<servlet>
		<servlet-name>timeRankByPerson</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.TimeRankByPerson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>timeRankByPerson</servlet-name>
		<url-pattern>/timeRankByPerson</url-pattern>
	</servlet-mapping>
	<!-- 按类型和角色统计各部门天数 -->
	<servlet>
		<servlet-name>TimeRankByDept</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.TimeRankByDept</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeRankByDept</servlet-name>
		<url-pattern>/timeRankByDept</url-pattern>
	</servlet-mapping>
	<!-- 查询大区与分公司对应档案 -->
	<servlet>
		<servlet-name>getProvinceOrBranchComp</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.GetProvinceOrBranchComp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProvinceOrBranchComp</servlet-name>
		<url-pattern>/getProvinceOrBranchComp</url-pattern>
	</servlet-mapping>
	<!-- 按照区域统计支持 -->
	<servlet>
		<servlet-name>TimeRankByBranchComp</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.TimeRankByBranchComp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeRankByBranchComp</servlet-name>
		<url-pattern>/timeRankByBranchComp</url-pattern>
	</servlet-mapping>
	<!-- 按照项目统计支持 -->
	<servlet>
		<servlet-name>TimeRankByProject</servlet-name>
		<servlet-class>wechat.servlet.researchrecord.TimeRankByProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeRankByProject</servlet-name>
		<url-pattern>/timeRankByProject</url-pattern>
	</servlet-mapping>
	
	<!-- 双百支撑入口 -->
	<servlet>
		<servlet-name>DHSupportEntrance</servlet-name>
		<servlet-class>yyhand.servlet.app.DHSupportEntrance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DHSupportEntrance</servlet-name>
		<url-pattern>/DHSupportEntrance</url-pattern>
	</servlet-mapping>
	<!-- 查询所有需求/bug（分页） -->
	<servlet>
		<servlet-name>alldhsupports</servlet-name>
		<servlet-class>wechat.servlet.doubleh.AllDHSupports</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>alldhsupports</servlet-name>
		<url-pattern>/alldhsupports</url-pattern>
	</servlet-mapping>
	<!-- 查询我的需求/bug（分页） -->
	<servlet>
		<servlet-name>mydhsupports</servlet-name>
		<servlet-class>wechat.servlet.doubleh.MyDHSupports</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mydhsupports</servlet-name>
		<url-pattern>/mydhsupports</url-pattern>
	</servlet-mapping>
	<!-- 新增需求/bug -->
	<servlet>
		<servlet-name>adddhsupport</servlet-name>
		<servlet-class>wechat.servlet.doubleh.AddDHSupport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adddhsupport</servlet-name>
		<url-pattern>/adddhsupport</url-pattern>
	</servlet-mapping>
	<!-- 修改需求/bug -->
	<servlet>
		<servlet-name>editdhsupport</servlet-name>
		<servlet-class>wechat.servlet.doubleh.EditDHSupport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editdhsupport</servlet-name>
		<url-pattern>/editdhsupport</url-pattern>
	</servlet-mapping>
	<!--删除需求/bug -->
	<servlet>
		<servlet-name>deletedhsupport</servlet-name>
		<servlet-class>wechat.servlet.doubleh.DeleteDHSupport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletedhsupport</servlet-name>
		<url-pattern>/deletedhsupport</url-pattern>
	</servlet-mapping>
	<!-- 查询支撑项目档案 -->
	<servlet>
		<servlet-name>getdhprojectname</servlet-name>
		<servlet-class>wechat.servlet.doubleh.GetDHProjectname</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getdhprojectname</servlet-name>
		<url-pattern>/getdhprojectname</url-pattern>
	</servlet-mapping>
	<!-- 大区bug/需求统计 -->
	<servlet>
		<servlet-name>countbyareaname</servlet-name>
		<servlet-class>wechat.servlet.doubleh.CountByAreaname</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>countbyareaname</servlet-name>
		<url-pattern>/countbyareaname</url-pattern>
	</servlet-mapping>
	<!-- 领域bug/需求统计 -->
	<servlet>
		<servlet-name>countbyfield</servlet-name>
		<servlet-class>wechat.servlet.doubleh.CountByField</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>countbyfield</servlet-name>
		<url-pattern>/countbyfield</url-pattern>
	</servlet-mapping>
	<!-- 项目bug/需求统计 -->
	<servlet>
		<servlet-name>countbyproject</servlet-name>
		<servlet-class>wechat.servlet.doubleh.CountByProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>countbyproject</servlet-name>
		<url-pattern>/countbyproject</url-pattern>
	</servlet-mapping>
	<!-- 异步查询人员名称和手机号  -->
	<servlet>
		<servlet-name>getdhusernameandmobile</servlet-name>
		<servlet-class>wechat.servlet.doubleh.GetDHUsernameAndMobile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getdhusernameandmobile</servlet-name>
		<url-pattern>/getdhusernameandmobile</url-pattern>
	</servlet-mapping>
	<!-- web登录校验  -->
	<servlet>
		<servlet-name>dhweblogin</servlet-name>
		<servlet-class>wechat.servlet.doubleh.DHWebLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dhweblogin</servlet-name>
		<url-pattern>/dhweblogin</url-pattern>
	</servlet-mapping>
	<!-- 发送验证码  -->
	<servlet>
		<servlet-name>senddhverificationcode</servlet-name>
		<servlet-class>wechat.servlet.doubleh.SendDHVerificationCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>senddhverificationcode</servlet-name>
		<url-pattern>/senddhverificationcode</url-pattern>
	</servlet-mapping>
	<!-- 重置密码  -->
	<servlet>
		<servlet-name>resetpassword</servlet-name>
		<servlet-class>wechat.servlet.doubleh.ResetPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resetpassword</servlet-name>
		<url-pattern>/resetpassword</url-pattern>
	</servlet-mapping>
	<!-- 修改密码  -->
	<servlet>
		<servlet-name>modifypassword</servlet-name>
		<servlet-class>wechat.servlet.doubleh.ModifyPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifypassword</servlet-name>
		<url-pattern>/modifypassword</url-pattern>
	</servlet-mapping>
	<!-- 双百支撑web登录页面转发 -->
	<servlet>
		<servlet-name>dhloginpage</servlet-name>
		<servlet-class>wechat.servlet.doubleh.DHLoginPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dhloginpage</servlet-name>
		<url-pattern>/dhloginpage</url-pattern>
	</servlet-mapping>
	<!-- 校验手机用户权限 -->
	<servlet>
		<servlet-name>mobilecheckauthority</servlet-name>
		<servlet-class>wechat.servlet.doubleh.MobileCheckAuthority</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobilecheckauthority</servlet-name>
		<url-pattern>/mobilecheckauthority</url-pattern>
	</servlet-mapping>
	<!-- 排行榜 -->
	<servlet>
		<servlet-name>rankbysovler</servlet-name>
		<servlet-class>wechat.servlet.doubleh.RankBySovler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rankbysovler</servlet-name>
		<url-pattern>/rankbysovler</url-pattern>
	</servlet-mapping>
	<!-- 保存人员流转需求 -->
	<servlet>
		<servlet-name>saveuserrequire</servlet-name>
		<servlet-class>wechat.servlet.doubleh.SaveUserRequire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveuserrequire</servlet-name>
		<url-pattern>/saveuserrequire</url-pattern>
	</servlet-mapping>
	<!-- 查询大区需求 -->
	<servlet>
		<servlet-name>getuserrequirebyarea</servlet-name>
		<servlet-class>wechat.servlet.doubleh.GetUserRequireByArea</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getuserrequirebyarea</servlet-name>
		<url-pattern>/getuserrequirebyarea</url-pattern>
	</servlet-mapping>
	<!-- 查询项目档案(总部) -->
	<servlet>
		<servlet-name>getzbprojects</servlet-name>
		<servlet-class>wechat.servlet.doubleh.GetZBProjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getzbprojects</servlet-name>
		<url-pattern>/getzbprojects</url-pattern>
	</servlet-mapping>
	<!-- 主页面 -->
	<servlet>
		<servlet-name>homePageMessage</servlet-name>
		<servlet-class>wechat.servlet.reward.homePageMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>homePageMessage</servlet-name>
		<url-pattern>/homePageMessage</url-pattern>
	</servlet-mapping>
	<!-- 项目bug需求个数和用时统计 -->
	<servlet>
		<servlet-name>TimeAndCountByProject</servlet-name>
		<servlet-class>wechat.servlet.doubleh.TimeAndCountByProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeAndCountByProject</servlet-name>
		<url-pattern>/timeAndCountByProject</url-pattern>
	</servlet-mapping>
	
	<!-- 资料悬赏 -->
	<servlet>
		<servlet-name>getRewardList</servlet-name>
		<servlet-class>wechat.servlet.reward.getRewardList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRewardList</servlet-name>
		<url-pattern>/getRewardList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getRewardSearch</servlet-name>
		<servlet-class>wechat.servlet.reward.getRewardSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRewardSearch</servlet-name>
		<url-pattern>/getRewardSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getRewardDetails</servlet-name>
		<servlet-class>wechat.servlet.reward.getRewardDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRewardDetails</servlet-name>
		<url-pattern>/getRewardDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getCommentsReward</servlet-name>
		<servlet-class>wechat.servlet.reward.getCommentsReward</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCommentsReward</servlet-name>
		<url-pattern>/getCommentsReward</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>commentTopicReward</servlet-name>
		<servlet-class>wechat.servlet.reward.commentTopicReward</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>commentTopicReward</servlet-name>
		<url-pattern>/commentTopicReward</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addNewReward</servlet-name>
		<servlet-class>wechat.servlet.reward.addNewReward</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addNewReward</servlet-name>
		<url-pattern>/addNewReward</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getRewardAnswer</servlet-name>
		<servlet-class>wechat.servlet.reward.getRewardAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRewardAnswer</servlet-name>
		<url-pattern>/getRewardAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>lowJob</servlet-name>
		<servlet-class>wechat.servlet.reward.lowJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lowJob</servlet-name>
		<url-pattern>/lowJob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>goodJob</servlet-name>
		<servlet-class>wechat.servlet.reward.goodJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>goodJob</servlet-name>
		<url-pattern>/goodJob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bestScheme</servlet-name>
		<servlet-class>wechat.servlet.reward.bestScheme</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bestScheme</servlet-name>
		<url-pattern>/bestScheme</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bestShare</servlet-name>
		<servlet-class>wechat.servlet.reward.bestShare</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bestShare</servlet-name>
		<url-pattern>/bestShare</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMyRewardList</servlet-name>
		<servlet-class>wechat.servlet.reward.getMyRewardList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMyRewardList</servlet-name>
		<url-pattern>/getMyRewardList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getThemeStore</servlet-name>
		<servlet-class>wechat.servlet.reward.getThemeStore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getThemeStore</servlet-name>
		<url-pattern>/getThemeStore</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bestScore</servlet-name>
		<servlet-class>wechat.servlet.reward.bestScore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bestScore</servlet-name>
		<url-pattern>/bestScore</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getRewardStore</servlet-name>
		<servlet-class>wechat.servlet.reward.getRewardStore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRewardStore</servlet-name>
		<url-pattern>/getRewardStore</url-pattern>
	</servlet-mapping>
	
	<!-- 产品提案接口 -->
	<servlet>
		<servlet-name>addNewProposal</servlet-name>
		<servlet-class>wechat.servlet.proposal.AddNewProposal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addNewProposal</servlet-name>
		<url-pattern>/addNewProposal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyTheProposal</servlet-name>
		<servlet-class>wechat.servlet.proposal.ModifyTheProposal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyTheProposal</servlet-name>
		<url-pattern>/modifyTheProposal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getCommentsProposal</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetCommentsProposal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCommentsProposal</servlet-name>
		<url-pattern>/getCommentsProposal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProposalDetails</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetProposalDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProposalDetails</servlet-name>
		<url-pattern>/getProposalDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProposalList</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetProposalList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProposalList</servlet-name>
		<url-pattern>/getProposalList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProposalSearch</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetProposalSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProposalSearch</servlet-name>
		<url-pattern>/getProposalSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProposalStore</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetProposalStore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProposalStore</servlet-name>
		<url-pattern>/getProposalStore</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMyProposalList</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetMyProposalList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMyProposalList</servlet-name>
		<url-pattern>/getMyProposalList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProposalField</servlet-name>
		<servlet-class>wechat.servlet.proposal.GetProposalField</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProposalField</servlet-name>
		<url-pattern>/getProposalField</url-pattern>
	</servlet-mapping>
	<!-- 积分排行 -->
	<servlet>
		<servlet-name>integralList</servlet-name>
		<servlet-class>wechat.servlet.reward.integralList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>integralList</servlet-name>
		<url-pattern>/integralList</url-pattern>
	</servlet-mapping>
	<!-- 方案排行 -->
	<servlet>
		<servlet-name>packageList</servlet-name>
		<servlet-class>wechat.servlet.reward.packageList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>packageList</servlet-name>
		<url-pattern>/packageList</url-pattern>
	</servlet-mapping>
	<!-- 积分排行 -->
		<servlet>
		<servlet-name>getIntegral</servlet-name>
		<servlet-class>wechat.servlet.reward.getIntegral</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getIntegral</servlet-name>
		<url-pattern>/getIntegral</url-pattern>
	</servlet-mapping>

	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
